<a href="https://colab.research.google.com/github/sofa-tsy/HW/blob/NP%2C-PD/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

country = ['Великобритания', 'Кипр', 'Германия', 'Индия', 'Россия', 'Кения',
           'Португалия', 'Япония', 'Тайланд', 'Казахстан']
left = [True, True, False, True, False, True, False, True, True, False]
car = [469, 595, 555, 15, 309, 21, 470, 591, 165, 214]

dic = {}
dic = {'country': country, 'drives_left': left, 'cars_per_1000' : car}
#print(dic)

s = pd.DataFrame(dic)
print(s)

In [ ]:
code = ['GB', 'CY', 'DE', 'IN', 'RU', 'KE', 'PT', 'JP', 'TH', 'KZ']

s_new = pd.DataFrame(dic, code)
print(s_new)

In [ ]:
print('Вывести первые три строчки:')
print(s_new[0:3])

In [ ]:
print('Вывести строки с данными по Великобритании и Германии')
print(pd.DataFrame(s_new, index=['GB', 'DE']) )

In [ ]:
print('Для Японии и Тайланда вывести две колонки с данными')
print(pd.DataFrame(s_new, index= ['JP', 'TH'], columns= ['cars_per_1000', 'country']))

In [ ]:
s_new['CarP'] = np.array(car)/1000
print(s_new)

In [ ]:
plt.title('Количество автомобилей на одного жителя')
#plt.pie(s_new.CarP, autopct = '%1.1f%%' )
plt.pie(s_new.CarP, labels = s_new.CarP)